*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.white-p {
    font-family: 'Rubik', sans-serif;
    color: #fff; 
    text-align: center;
    font-size: 18px;
}

.nomination-block-detals {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    padding: 80px 20px;
   
}
.nomination {
font-family:'Rubik', sans-serif;
color: rgb(255, 255, 255);
font-size: 18px;
font-stretch: 100%;
margin: 0px 100px 0px 40px;
}
.year-win {
font-family:'Prata', serif;
color: rgb(255, 255, 255);
font-size: 22px;
margin: 0px -100px 0px -100px;
}
.grey-nomination {
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130);
    font-size: inherit;
    margin: 0px 100px 0px -300px;
    
}
.nomination-picture {
    max-width: 100%;
    display: block;
    width: 150px;
    margin: 0px -100px 0px 100px;
}
.details-blog {
    text-align: center;
    align-items: center;
}