
.personal-discount {
    
    position: relative;
    
}
.wine-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    
}
.red-wine {
    background-image: url(../image/glasses.jpg);
    background-size: cover;
    min-height: 400px;
    padding: 20px;
    ;
}

    .white-wine {
    background-image: url(../image/glaschesse.jpg);
    background-size: cover;
    min-height: 400px;
    padding: 20px;
}
    
    .discount-form
    {
        background-image: url(../image/village.png);
    }