.faq {
	padding: 5px;
	margin-bottom: 10px;
}

section .faq-question {
	font-size: 18px;
	line-height: 30.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #fff;
	text-align: left;
	padding: 5px 10px 5px 10px;
	margin: 10px;
}

/* Accordion */

.accordion-wrapper {
	display: flex;
	display: block;
	align-items: center;
	justify-content: center;
	height: 50vh;
	min-width: 300px;
}

.accordion-item {
	width: 100%;
	position: relative;
	border-bottom: 1px solid;
	border-bottom-color: #898c8a;
}

.accordion-item-title {
	padding: 10px;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.accordion-item-title::before {
	content: "+";
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 20px;
	font-size: 24px;
}

.accordion-item-content {
	position: relative;
	background-color: #261E1C;
	color: #898c8a;
	height: 0;
	overflow: hidden;
	transition: .5s ease-in-out;
}

.accordion-item.active .accordion-item-content {
	height: 50px;
}

.accordion-item.active .accordion-item-title::before {
	content: "-";
}


/* Image */
section .red-wine-bottle {
	min-height: 400px;
	
}
section .red-wine-bottle img {
	width: 100%;
	display: block;
}

@media (min-width: 600px) {
	.faq {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5px;
	}
	.faq-question {
		font-size: 22px;
	}
	.faq-questions {
		margin-left: 50px;
	}
	.orange-p {
		font-size: 28px;
	}
	.section-title{
		font-size: 48px;
	}
	section .red-wine-bottle img {
		margin-right: 50px;
		max-height: 550px;
		width: auto;

	}
}

