/* .footer-container {
	width: 100%;
	margin: 3.125em auto 0 auto;
} */

footer .newsletter {
	min-height: 400px;
	margin: 10px;
	padding: 90px 0px 15px 0px;
}
footer div .newsletter-title {
	.orange-p {
		font-family: 'Great Vibes', undefined;
		font-size: 14px;
		font-weight: 400px;
		line-height: 19.6px;
		}
	h2 .newsletter-header {
		font-family: 'Prata', serif;
		font-size: 28px;
		font-weight: 400px;
		line-height: 36.5px;
		color: #fff;
		}
	.white-p {
		font-family: 'Rubik', sans-serif;
		font-size: 16px;
		font-weight: 400px;
		line-height: 25.6px;

	}
}
@media (min-width: 600px) {
	footer .newsletter {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	}
}
footer > form {
	font-family: 'Rubik, sans-serif';
	font-size: 15px;
	line-height: 18px;
	
}
footer .submit {
	display: block;
	width: 100%;
	padding: 0.75rem;
	background: #c8693a;
	color: inherit;
	border-radius: 2px;
    cursor: pointer;
}



