
:root {
    font-family: 'Rubik', sans-serif;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header-right {
    display: flex;
}
      
.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

.social-icons-list {
    display: flex;
    list-style-type: none;
}

.social-icons-list li {
    margin-left: 20px;
}

.social-icons-list a {
    width: 26px;
    height: 26px;
    display: block;
    border: 2px solid #c8693a;
}

.section-title {
    font-family: 'Prata', sans-serif;
    color: #fff; 
}
git

.special {
    color: #fff;
    font-family: 'Prata';

}

.orange-p {
	font-family: 'Great Vibes', undefined;
	font-size: 28px;
	line-height: 39.2px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: rgb(200, 105, 58);
}
.white-p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	line-height: 30.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #fff;
}
.grey-p {
    font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #898c8a;
}

body {
    background-color: #261e1c;
    margin: 0;

}
.orange-divider {
    width: 5%;
    height: 2px;
    background-color: #c8693a; 
}
.boutique-wines{
    background-image: url(/image/bg-boutique-wine.jpg);
    padding: 200px 20px 200px 44%;
    color:white;
    background-position: center;
        
}

.boutique-wines h1 {
    font-size: 84px;
    line-height: 1.2;
    font-family: Prata,serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

.button-wrapper{
    margin: 10px 0;
}

.default-button {
    display: inline-block;
    font-family:'Rubic',sans-serif;
    padding: 18px 26px;
    border-radius: 2px;
    font-size: 16.5px;
    line-height: 1em;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    font-weight: bold;
}

.shop-now {
    background-color:#c8693a;
    color: white;
    border: 0.1em solid #c8693a;
  }

  .shop-now:hover {
    background-color:#a55731;
    border-color: #a55731 ;
  }

  .learn-more {
    background-color: transparent;
    color: white;
    border: 0.1em solid white;
  }

  .learn-more:hover {
    background-color: white;
    color: black;
  }

.more-arrow {
    display: flex;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.more-arrow img {
    margin-left: 5px;
}

.articles-wrapper {
   display: flex; 
   justify-content: space-between;
   padding: 120px 0px 60px;
}
.wine-article {
    background-size: cover;
    width: 30%;
    margin: 30px 0  0;
    padding: 300px 15px 15px
}

.wine-article--special{
    background-image: url(/image/special-events.jpg);
    
    
}
.wine-article--oraganic{
    background-image: url(/image/organic-wine.jpg);
}
.wine-article--grape{
    background-image: url(/image/grape-varieties.jpg);
}

.orange-line{
    color: #c8693a ;
}

.every-table-h2{
    font-size: 41px;
    text-align: center;
}
.block-text{
    text-align: center;
    font-size: 18px;
}
.title-number{
    color: #c8693a;
    font-size: 14px;
    font-family: Rubik ,sana-serif;
    text-align: center;
}
.traditional-wine-h2{
    font-size: 37px;
    text-align: center;
}
.vino-veritas-h2{
    font-size: 58px;
    font-family: Prata ,serif;
    text-align: left ;
    
}

