.our-wine {
  max-width: 1100px;
  margin: auto;
}
.picture-our-wine-bootle {
  display: block;
  margin: 0 auto;
  padding: 0px 15px;
  width: 350px;
}
.add-to-cart {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding-bottom: 70px;
}
.add-to-cart, a {
  color: white;
  text-decoration: none;
  text-align: center;
}
 .buttom-add-to-cart {
  padding:  10px 30px;
  margin: 0px 100px;
  border: 0px solid white;
  border-radius: 2px;
  background-color:#c8693a;
  font-size: 15px;
 }

