.our-wine {
  max-width: 1100px;
  margin: auto;
}
.picture-our-wine-bootle {
  display: block;
  margin: 0 auto;
  padding: 0px 15px;
  width: 340px;
}
.add-to-cart {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding-bottom: 70px;
}
.add-to-cart, a {
  color: white;
  text-decoration: none;
  text-align: center;
}
 .buttom-add-to-cart {
  padding:  10px 30px;
  margin: 0px 100px;
  border: 0px solid white;
  border-radius: 2px;
  background-color:#c8693a;
  font-size: 15px;
 }
.slide-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel-product-list .previous-slide {
  transform: translate(30px, 0px);
  border-radius: 30%;
  background-color:lightgrey;
}
.carousel-product-list .next-slide {
  transform: translate(-35px, 0px);
  border-radius: 30%;
  background-color:lightgrey;
}
.carousel-product-list .s-carousel-arrow-right {
  transform: translate(0px, 0px);
width: 10px;
}
.carousel-product-list .s-carousel-arrow-left {
transform: rotate(180deg);
width: 10px;
}
@media (min-width: 600px) {
  .picture-our-wine-bootle {
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 400px;
  }
  .add-to-cart {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.buttom-add-to-cart {
  padding:  10px 30px;
  border: 0px solid white;
  border-radius: 2px;
  background-color:#c8693a;
  font-size: 15px;
 }
 .carousel-product-list .next-slide {
  transform: translate(-350px, -80px);
  background-color: unset;
  width: 30px;
  border: none;
  cursor: pointer;
}
.carousel-product-list .previous-slide {
  transform: translate(330px, -60px);
  background-color: unset;
  width: 30px;
  border: none;
  cursor: pointer;
}
.s-carousel-arrow-left {
  width: 100px;
}
}