:root {
    font-family: 'Rubik', sans-serif;
   --header-color:rgb(0, 0, 0, .5);
   --orange: rgb(200, 105, 58);
   --white:rgb(255, 255, 255);
   --black:rgb(0, 0, 0)
}

* {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header-right {
    display: none;
}
@media (min-width: 768px) {
    .header-right {
        display: flex;
    } 
}
      
.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list a {
    text-decoration: none;
    color:var(--white);
}

.social-icons-list {
    display: flex;
    list-style-type: none;
}

.social-icons-list li {
    margin-left: 20px;
}

.social-icons-list a {
    width: 26px;
    height: 26px;
    display: block;
    border: 2px solid var(--orange);
}

.section-title {
    font-family: 'Prata', serif;
    color:var(--white); 
    font-size: 41px;
}

.special {
    color: var(--white);
    font-family: 'Prata';
    font-size: 16px;
}

@media (min-width:468px) {
    .special{
        font-size: 48px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.orange-p {
	font-family: 'Great Vibes', undefined;
	font-size: 28px;
	line-height: 39.2px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: var(--orange);
}
.white-p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	line-height: 30.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color:var(--white);
}
.grey-p {
    font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #898c8a;
}




body {
    background-color: #261e1c;
    margin: 0;

}
.orange-divider {
    width: 45px;
    height: 2px;
    background-color:var(--orange) ;
}

.boutique-wines{
    background-image: url(../image/bg-boutique-wine.jpg);
    padding: 130px 24px;
    color:var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        
}

@media (min-width: 768px) {
    .boutique-wines {
        padding: 200px 20px 200px 44%;
    }
    
}

.boutique-wines h1 {
    font-size: 58px;
    line-height: 1.2;
    font-family: Prata,serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}
@media (min-width: 768px) {
    .boutique-wines h1 {
        font-size: 84px;
    }
    
}

.button-wrapper{
    margin: 10px 0;
}

.default-button {
    display: inline-block;
    font-family:'Rubic',sans-serif;
    padding: 18px 26px;
    border-radius: 2px;
    font-size: 16.5px;
    line-height: 1em;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    font-weight: bold;
}

.shop-now {
    background-color:var(--orange);
    color: var(--white);
    border: 0.1em solid var(--oorange);
  }

  .shop-now:hover {
    background-color:#7c4021;
    border-color:var(--orange) ;
  }

  .learn-more {
    background-color: transparent;
    color: var(--white);
    border: 0.1em solid var(--white);
  }

  .learn-more:hover {
    background-color: var(--white);
    color: var(--black);
  }

.more-arrow {
    display: flex;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
}

.more-arrow img {
    margin-left: 5px;
}


            

.articles-wrapper {
   padding: 120px 0px 60px;
}

@media (min-width: 768px) {
    .articles-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.wine-article {
    background-size: cover;
    margin: 30px 25px  0;
    padding: 300px 45px 45px;
}

@media (min-width: 768px) {
    .wine-article  {
        width: 31.5%;
    }
}



.wine-article--special{
    background-image: url(../image/special-events.jpg);
    
    
}
.wine-article--oraganic{
    background-image: url(../image/organic-wine.jpg);
}
.wine-article--grape{
    background-image: url(../image/grape-varieties.jpg);
}

.orange-line{
    color: var(--orange);
    

}

.features-wrapper {
    margin-top: 50px;
}
@media (min-width:768px) {
    .features-wrapper {
        display: flex;
    }
}


.feature-img {
    width: 100%;
}

@media (min-width:768px) {
    .feature-img {
        /* width: 327px; */
    }
}

.features-items{
    display: flex;
    flex-wrap: wrap;
}


.feature-item {
    width: 100%;
    padding: 50px;
}
@media (min-width:768px) {
    .feature-item {
        width: 50%;}
    }

.section-center {
    text-align:center;

}


.discovery-our-wines {
    background-image: url(../image/bg-discover-our-wines.jpg);
    padding: 130px 24px;
    color:var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0;
}

.discover {
    font-size: 58px;
    color: var(--white);
    font-family: 'Prata', serif;
}
.every-table-h2{
    font-size: 41px;
    text-align: center;
}
.block-text{
    text-align: center;
    font-size: 18px;
}
.title-number{
    color: var(--orange);
    font-size: 14px;
    font-family: Rubik ,sana-serif;
    text-align: center;
}
.traditional-wine-h2{
    font-size: 37px;
    text-align: center;
}
.vino-veritas-h2{
    font-size: 58px;
    font-family: Prata ,serif;
    text-align: left ;
    
}

section .testimonials {
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
@media (min-width: 600px) {
	section .testimonials {
        font-size: 22px;
        padding: 30px 15px 30px 15px;
	}
.orange-p {
	font-size: 28px;
	}
.section-title {
	font-size: 48px;
	}
.grey-p {
    font-size: 16px;
    }
}