

.testimonials {
    display: block;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
@media (min-width: 600px) {
	.testimonials {
        font-size: 22px;
        text-align: center;
        max-width: 1200px;
        padding: 30px 15px 30px 15px;
	}
.orange-p {
	font-size: 28px;
	}
.section-title {
	font-size: 48px;
	}
.grey-p {
    font-size: 16px;
    }
}

/* Кнопки вперед і назад */

.testimonials img, svg {
  
    /* cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; */
}
.testimonials .next-slide {

}
    /* cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; */



/* При наведении на кнопки добавляем фон кнопок */
.testimonials .slide .previous-slide:hover,
.testimonials .slide .next-slide:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
