@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');

.orange-p {
	font-family: 'Great Vibes', undefined;
	font-size: 28px;
	line-height: 39.2px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: rgb(200, 105, 58);
}
.white-p {
	font-family: Rubik, sans-serif;
	font-size: 18px;
	line-height: 30.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #fff;
}


.orange-divider {
    width: 5%;
    height: 2px;
    background-color: #c8693a; 
}

header {
    background-color: rgb(104, 99, 99); 
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header-right {
    display: flex;
}
      
.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

.social-icons-list {
    display: flex;
    list-style-type: none;
}

.social-icons-list li {
    margin-left: 20px;
}

.social-icons-list a {
    width: 26px;
    height: 26px;
    display: block;
    border: 2px solid #c8693a;
}
body {
    background-color: black;
    color: white;
}