@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');



.orange-divider {
    width: 5%;
    height: 2px;
    background-color: #c8693a; 
}